/* CSS Document for Screens */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,300,700,700italic);

a:hover {
    color:white;
    
}
body {
    
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    font-weight: 300;
    color:black;
    margin:0;
    padding:0;
    background-color: ghostwhite;
    
}

#page {
    
    max-width:1200px;
    margin:0 auto;
    position: relative;
    
    
}

header {
/*
    height:430px;
    position: relative;
    background: lightblue url(../images/banner1200.jpg) no-repeat center bottom; 
*/
}

header a.logo {
    
    position: absolute;
    display: block;
    width: 70px;
    height: 70px;
    background: url(../images/comp1950logo.png) no-repeat 0 0;
    background-size: contain;
    top: 15px;
    left: 20px;
    z-index:1; 
}

header a.logo span {
    
    display:none;
    
}

header div.hero {
    
    position: absolute;
    width: 42%;
    top: 130px;
    left:55%;
    
    
}

header div.hero h1 {
    
    line-height:1em;
    margin: 0 0 30px 0;
    color:white;
    
}

a.btn {
    
    font-size: 1.2em;
    text-decoration: none;
    color: #fff;
    border:1px solid #fff; 
    padding: 4px 15px;
}



/*
misc ID's
*/

#loveyourself {
    text-shadow: 1px 1px black;
}

#enter {
    color: black;
    font-weight: 700;
    background-color: white;
    opacity: .8;
    text-decoration: underline;
    
}
#enter:hover {
    
    background-color: rgba(22,22,22,.9);
    color: white;
    
}

#learnmorebutton {
    float: right;
    position: relative;
    right: 10em;
}



#facebookfooter {
    padding-left:3em;
    padding-right:3em;
    text-align: center;
    width: 80%;
}
/* 
All
*/
section {
    
    padding: 0 30px;
}

section::after {
    content: '';
    display:block;
    clear:both;
}
/*
Main
*/

section.main {
    
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
}

section.main aside {
    
    width: 30%;
    float:left;
    text-align: center;
    
}

section.main .content {
    margin: 15px;
    background: no-repeat center top;
    background-size: 75px 75px;
    padding-top:85px;
    
}

section.main aside h3 a {
    color: #000;
    text-decoration: none;
}

section.main aside h3 a:hover {
    
    color: white;
}

section.main aside .content.missionstatement {
    
    background-image:
        url(../images/responsive.jpg);
    background-color: #8cc5ff;
    height: 17em;
    position: relative;
}

section.main aside .content.youdeserveit {
     background-image:
        url(../images/3.jpg);
    background-color: #72a9e0;
    height: 16em;
}

section.main aside .content.hours {
     background-image:
        url(../images/interactive.png);
    background-color: #578cc1;
    height: 13em;
    
}

/* Section: Atmosphere*/

section.atmosphere {
    background-color: lightskyblue;
    padding-top: 3px;
    padding-bottom: 30px;
    color: white;
    position: relative;
}
section.atmosphere a {
    
    color: black;
    background-color: white;
    text-decoration: underline;
    font-weight: 600;
}

section.atmosphere a:hover{
     background-color: rgba(0,0,0,.3);
    color: white;
    
    
}







section.how-to {
    position: relative;
    background-color: beige
}

section.how-to aside {
    width: 30%;
    float: left;
    margin-right: 10px;
}

section.how-to aside .content {
    padding: 30px 30px 20px 0;
}

section.how-to aside .content img {
    display: block;
    margin-bottom: 15px;
    width: 70%;
}

section.how-to aside .content h4 {
    margin-bottom: 0;
}

section.how-to aside .content a {
    display: inline-block;
    color: black;
    font-weight: 600;
}

section.how-to aside .content a:hover {
    
    background-color: black;
    color: white;
}


section.how-to blockquote {
    margin: 0;
    color: #444;
    width: 32%;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 3%;
}

section.how-to blockquote p {
    margin: 30px 30px 20px 50px;
}

section.how-to blockquote p.quote {
    font-style: italic;
    font-size: 1.2em;
}

section.how-to blockquote p.credit {
    color: #777;
    font-size: .9em;
    margin-top: 0;
    padding-left: 20px;
    line-height: 1.3em;
    position: relative;
}

section.how-to blockquote:before {
    content:'\201c';
    color: #d2bd65;
    position: absolute;
    top: 10px;
    left: 8px;
    font-size: 5em;
    font-family: serif;
}

section.how-to blockquote p.quote:after {
    content: '\201d';
    font-family: serif;
}

section.how-to blockquote p.credit:before {
    content: '\2014';
    position: absolute;
    top: -1px;
    left:0;
}



nav {
/*
    background-color: rgba(39, 109, 163, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px 50px 0 0;
    width: 100%;
*/
}

nav ul {
    list-style: none;
    margin:0;
    padding: 0;
}


nav ul li a {
    display:inline-block;
    color: white;
    padding: 10px 20px;
    margin: 0;
    text-decoration: none;
    width 10%;
    position: relative;
    left: 4em;
    
}

nav ul li a:visited {
    color: white;
}

nav ul li a:hover {
    background-color: royalblue;
    color: white;
    
}



/*top level*/

nav > ul {
    padding-left: 200px;
}

nav > ul > li {
    float: left;
}

nav::after {
    content: '';
    display:block;
    clear: both;
}


@media screen and (max-width:825px) {
    h1 {
        font-size: 2.2em;
    }
    header {
        height:300px;
        background-image:url(../images/banner825.jpg);
    }
    header div.hero {
        top:120px;
        left: 48%;
    }
    section.atmosphere aticle {
        padding-left: 325px;
        background-size: 300px auto; 
    }
    
    section.how-to blockquote p.quote{
        font-size:1.1em;
        line-height:1.2em;
    }
    section.how-to blockquote p.credit{
        font-size:.85em;
    }
    
}

@media screen and (max-width:760px) {
    h1 {
        font-size:1.8em;
    }
    h2 {
        font-size:1.4em;
    }
    h3{
        font-size:1.1em;
    }
    a.btn{
        font-size:1em;
    }
    header a.logo{
        width:145px;
        height:60px;
    }
    header div.hero{
        top:140px;
        left:48%;
    }
    
    section.main {
        margin-top:10px;
        margin-bottom:10px;
    }
    section.main aside div.content {
        background-size:55px 55px;
        padding-top:60px;
    }
    
    section.how-to aside div.content img {
        width:85%;
    }
    
    nav{
        padding-top:80px;
    }
    nav >ul{
        padding-left:10px;
    }
}







@media screen and (max-width:625px) {
    
    h1{
        font-size: 1em;
    }
    h3{
       margin-bottom:0px; 
    }
    a.btn{
        font-size:.9em;
    }
    header{
        height:160px;
        background-image:url(../images/banner625.jpg);
        background-position: left top;
    }
    nav {
        position:static;
        width:auto;
        padding: 20px 15px;
        background-color: ;
        position:relative;
        top:28em;
    }
    
    header a.logo{
        width:100%;
        height:66px;
        left:0;
        top:0px;
       color:rgba(255,21,81,.65);
        background-size:112px 46px;
        background-position: 20px center;
    }
    
    header div.hero {
        width:300px;
        top:85px;
        left:130px;
    }
    header div.hero h1{
        margin-bottom:10px;
    }
    
    section.main aside {
        width:100%;
        float:none;
        text-align: left;
    }
    section.main aside div.content {
        margin:8px 20px 8px 0;
        padding: 5px 0px 10px 85px;
        background-size: 50px 50px;
        background-position: 20px 5px;
    }
    
    section.atmosphere article {
        padding: 16px 20px 0 0;
        background-size:300px auto;
        min-height: initial;
    }

    section.how-to aside{
        width:100%;
        float:none;
        margin:0;
        position:relative;
    }
    
    section.how-to aside div.content {
        padding:20px 20px 20px 150px;
    }
    
    section.how-to aside div.content p{
        font-size:.9em;
    }
    
    section.how-to aside div.content img{
        display:inline-block;
        width:125px;
        position:absolute;
        top:30px;
        left:0;  
    }
    
    section.how-to blockquote{
        margin:0 20px 0 40px;
        width:90%;
        padding:1px 0px 20px 0px;
        top:25em;
        height:100px;
        z-index: 1;
        text-align: center;
    }
    
    section.how-to blockquote p.credit{
        padding-bottom: 10px;
        text-align: center;
        
    }
    
    footer {
    position: relative;
    top:13em
}

footer {
    position: relative;
    top:13em
    }
    

